"*":
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnSave: true
  "autocomplete-plus":
    fileBlacklist: [
      ".*"
      "*.md"
      "*.txt"
    ]
  "autocomplete-python":
    useKite: false
  core:
    disabledPackages: [
      "language-gfm"
      "markdown-preview"
      "trailing-spaces"
      "linter"
      "autocomplete-python"
      "linter-flake8"
      "language-python"
    ]
    projectHome: "/Users/jeremy/source"
    telemetryConsent: "no"
    themes: [
      "seti-ui"
      "wombat-dark-syntax"
    ]
  editor:
    preferredLineLength: 88
    showIndentGuide: true
    showInvisibles: true
  "ide-python":
    pylsPlugins:
      autopep8:
        enabled: false
      pycodestyle:
        enabled: false
      pydocstyle:
        enabled: true
      pyflakes: {}
    python: "/Users/jeremy/.pyenv/versions/arch-3.6/bin/python"
  linter: {}
  "linter-flake8":
    executablePath: "/usr/local/bin/flake8"
  "linter-ui-default": {}
  "markdown-preview-enhanced":
    frontMatterRenderingOption: "none"
    previewTheme: "monokai.css"
  "markdown-preview-plus":
    enablePandoc: true
    pandocMarkdownFlavor: "markdown-raw_tex+tex_math_single_backslash+yaml_metadata_block"
    pandocPath: "/usr/local/bin/pandoc"
  "seti-ui":
    compactView: true
  "spell-check":
    addKnownWords: true
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.md"
    ]
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".md.text":
  whitespace:
    removeTrailingWhitespace: false
".shell.source":
  editor:
    tabLength: 4
